<section id="app-info">
	<h2>Applicant name: <%= @application.name %></h2>
	<h4>Pets on application:</h4>
	<% @application.pets.each do |pet|%>
		<p id="pet-<%= pet.id %>"><%= pet.name %></p>
		<%= button_to "Approve", "/admin/applications/#{@application.id}", method: :patch, params: {approved_pet: pet.id} %>
	<% end %>
</section>

